{% section 'hero-breadcrumb' %}

<div class="blog-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="blog-sidebar">
                    {% for relatedArticle in blog.articles %}
                        {% unless relatedArticle.handle == article.handle %}
                            <div class="sidebar-widget mb-50">
                                <img 
                                    src="{{ relatedArticle.image | img_url: '370x190' }}" 
                                    alt="{{ relatedArticle.image.alt }}">
                                <div class="sidebar-img-content">
                                    <p>{{ relatedArticle.excerpt }}</p>
                                    <h4>{{ relatedArticle.author }}</h4>
                                    <span>{{ relatedArticle | slice: 0, 3 | join: ' ' }}</span>
                                    <div class="sidebar-img-social">
                                        <ul>
                                            <li>
                                                <a href="//twitter.com/share?text={{ relatedArticle.title | url_param_escape }}&amp;url={{ blog.url | append: article.url }}">
                                                    <i class="ion-social-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="//www.facebook.com/sharer.php?u={{ blog.url | append: article.url }}">
                                                    <i class="ion-social-facebook"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% break %}
                        {% endunless %}
                    {% endfor %}
                    
                    <div class="sidebar-widget mb-50">
                        <h3 class="sidebar-title">Search Products</h3>
                        <div class="sidebar-search">
                            <form method="get" action="/search" role="search">
                                <input placeholder="Search Products..." type="search" name="q" id="search">
                                <button type="submit"><i class="ion-ios-search-strong"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-45">
                        <h3 class="sidebar-title">Categories</h3>
                        <div class="sidebar-categories">
                            <ul>
                                {% for tag in blog.all_tags %}
                                    <li>{{ tag | link_to_tag: tag }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-50">
                        <h3 class="sidebar-title">Recent Posts</h3>
                        <div class="sidebar-top-rated-all">
                            {% for recentPost in blog.articles %}
                                {% include 'recent-single-article' with article: recentPost %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="sidebar-widget mb-40">
                        <h3 class="sidebar-title">Social Network</h3>
                        <div class="social-network">
                            <a href="//twitter.com/share?text={{ article.title | url_param_escape }}&amp;url={{ blog.url | append: article.url }}">
                                <i class="ion-social-twitter"></i>
                            </a>
                            <a href="//www.facebook.com/sharer.php?u={{ blog.url | append: article.url }}">
                                <i class="ion-social-facebook"></i>
                            </a>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-40">
                        <h3 class="sidebar-title">Tags</h3>
                        <div class="blog-tags-style">
                            <ul>
                                {% for tag in article.tags %}
                                    <li>{{ tag }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="blog-details-style">
                    <div class="blog-part">
                        <img 
                            src="{{ article.image | img_url: '970x580' }}" 
                            alt="{{ article.image.alt }}">
                        <div class="blog-info-details mt-20">
                            <h3>{{ article.title }}</h3>
                            <p>
                                {{ article.content }}
                            </p>
                        </div>
                    </div>

                    {%- assign new_comment = false -%}
                    {%- assign number_of_comments = article.comments_count -%}

                    {%- if comment and comment.created_at -%}
                    {%- assign new_comment = true -%}
                    {%- assign new_comment_id = comment.id -%}
                    {%- endif -%}

                    {%- if new_comment -%}
                    {%- comment -%}
                        When you refresh the page with submitted comment, the comment is duplicated
                        so we added a flag to avoid this situation.
                    {%- endcomment -%}
                    {%- assign duplicate_comment = false -%}
                    {%- for comment in article.comments -%}
                        {%- if comment.id == new_comment_id -%}
                        {%- assign duplicate_comment = true -%}
                        {%- break -%}
                        {%- endif -%}
                    {%- endfor -%}

                    {%- unless duplicate_comment -%}
                        {%- assign number_of_comments = article.comments_count | plus: 1 -%}
                    {%- endunless -%}
                    {%- endif -%}

                    {% paginate article.comments by 5 %}

                    {% if comment and comment.status and comment.id != blank and paginate.current_page == 1 %}
                        {% if blog.moderated? and comment.status != 'published' %}
                            {%- assign comment_msg = 'blogs.comments.success_moderated' | t -%}
                        {% else %}
                            {%- assign comment_msg = 'blogs.comments.success' | t -%}
                        {% endif %}
                    {% endif %}
                    <div class="news-details-bottom mtb-60">
                        <h3 class="leave-comment-text">Comments</h3>
                        <p>{{ comment_msg }}</p>
                        {% if comment and comment.status != 'published' and comment.id != blank %}
                            {% include 'single-comment' with comment %}
                        {% endif %}
                        {% for comment in article.comments %}
                            {% include 'single-comment' with comment %}
                        {% endfor %}
                    </div>

                    {% if paginate.pages > 1 %}
                        {% include 'pagination' with nav_side: 'justify-content-end' %}
                    {% endif %}

                    {% endpaginate %}

                    <div class="leave-comment">
                        <h3 class="leave-comment-text">Write a comment</h3>
                        {% form 'new_comment', article %}
                            {{ form.errors | default_errors }}

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="leave-form">
                                        <input 
                                            placeholder="{{ 'blogs.comments.name' | t }}" 
                                            type="text"
                                            name="comment[author]"
                                            id="CommentAuthor"
                                            value="{{ form.author }}"
                                            class="{% if form.errors contains 'author' %}form-invalid{% endif %}"
                                            autocapitalize="words">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="leave-form">
                                        <input  
                                            type="email"
                                            name="comment[email]"
                                            id="CommentEmail"
                                            class="{% if form.errors contains 'email' %}form-invalid{% endif %}"
                                            placeholder="{{ 'blogs.comments.email' | t }}"
                                            value="{{ form.email }}"
                                            spellcheck="false"
                                            autocomplete="off"
                                            autocapitalize="off">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="text-leave">
                                        <textarea
                                        name="comment[body]"
                                        id="CommentBody"
                                        class="{% if form.errors contains 'body' %}form-invalid{% endif %}"
                                        placeholder="{{ 'blogs.comments.message' | t }}"">
                                            {{- form.body -}}
                                        </textarea>
                                        <button class="submit btn-hover" type="submit">
                                            {{ 'blogs.comments.post' | t }}
                                        </button>
                                    </div>
                                </div>
                            </div>

                        {% endform %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>