{% section 'hero-breadcrumb' %}

<div class="cart-main-area pt-95 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="cart-heading">{{ 'header.cart' | t }}</h1>
                <form action="/cart" method="post" novalidate>
                    <div class="table-content table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th class="product-name">{{ 'cart.remove' | t }}</th>
                                    <th class="product-price">{{ 'cart.images' | t }}</th>
                                    <th class="product-name">{{ 'account.product' | t }}</th>
                                    <th class="product-price">{{ 'account.price' | t }}</th>
                                    <th class="product-quantity">{{ 'account.quantity' | t }}</th>
                                    <th class="product-subtotal">{{ 'account.total' | t }}</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for item in cart.items %}
                                    {% include 'cart-item' with item:item, index: forloop.index %}
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="coupon-all">
                                <div class="coupon2">
                                    <input class="button" name="update" value="Update cart" type="submit">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 ml-auto">
                            <div class="cart-page-total">
                                <h2>{{ 'cart.cart_totals' | t }}</h2>
                                <ul>
                                    <li>{{ 'account.subtotal' | t }}<span>{{ cart.total_price | money }}</span></li>
                                    {% if cart.total_discounts > 0 %}
                                        <li>{{ 'account.discount' | t }}<span>{{ cart.total_discounts | money }}</span></li>
                                    {% endif %}
                                </ul>
                                <input 
                                    class="checkout-btn" 
                                    type="submit" 
                                    name="checkout" 
                                    value="{{ 'cart.proceed_to_checkout' | t }}">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>