{% section 'hero-breadcrumb' %}

{% paginate collection.products by 12 %}
<div class="shop-page-wrapper hidden-items padding-filter">
    <div class="container-fluid">
        <div class="shop-filters-left is-visible">
            <div class="shop-sidebar">
                <div class="sidebar-widget mb-50">
                    <h3 class="sidebar-title">Search Products</h3>
                    <div class="sidebar-search">
                        <form method="get" action="/search" role="search">
                            <input 
                                name="q" 
                                id="search"
                                placeholder="Search Products..." 
                                type="text" 
                                value="{{ search.terms | escape }}">
                            <button type="submit"><i class="ion-ios-search-strong"></i></button>
                        </form>
                    </div>
                </div>
                <div class="sidebar-widget mb-45">
                    <h3 class="sidebar-title">Categories</h3>
                    <div class="sidebar-categories">
                        <ul>
                            {% for tag in collection.all_tags %}
                                {%- assign tagCount = 0 -%}
                                {% for product in collections[collection.handle].products %}
                                    {% for productTag in product.tags %}
                                        {% if productTag == tag %}
                                            {%- assign tagCount = tagCount | plus: 1 -%}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                <li>
                                    <a href="/collections/{{ collection.handle }}/{{ tag }}">
                                        {{ tag }}
                                        <span>{{ tagCount }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="sidebar-widget mb-50">
                    <h3 class="sidebar-title">New Arrival</h3>
                    <div class="sidebar-top-rated-all">
                        {% for product in collection.products limit: 4 %}
                            {% include 'sidebar-product' with product %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="shop-filters-right is-visible">
            <div class="shop-bar-area pb-60">
                <div class="shop-bar">
                    <div class="shop-found-selector">
                        <div class="shop-selector">
                            {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}
                            <label>Sort By : </label>
                            <button 
                                class="btn dropdown-toggle" 
                                type="button" 
                                data-toggle="dropdown"
                            >
                                {{ sort_by }}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                {% for option in collection.sort_options %}
                                    <a 
                                        class="dropdown-item" 
                                        href="{{ request.path | append: '?sort_by=' | append: option.value }}"
                                    >
                                        {{ option.name }}
                                    </a>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="shop-filter-tab">
                        <div class="shop-filter">
                            <a class="shop-filter-active" href="#">Filters <i class="ion-android-options"></i></a>
                        </div>
                        <div class="shop-tab nav" role=tablist>
                           <a class="active" href="#grid-5-col1" data-toggle="tab" role="tab" aria-selected="false">
                                <i class="ion-android-apps"></i>
                            </a>
                            <a href="#grid-5-col2" data-toggle="tab" role="tab" aria-selected="true">
                                <i class="ion-android-menu"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shop-product-content tab-content">
                <div id="grid-5-col1" class="tab-pane fade active show">
                    <div class="row custom-row">
                            
                        {% for product in collection.products %}
                            {% include 'single-product' with 
                                product: product,
                                wrapper_class: 'custom-col-5 custom-col-style',
                                single_class: 'mb-35',
                                imageDimension: '302x365'
                            %}
                        {% endfor %}

                    </div>
                    {% if paginate.pages > 1 %}
                        {% include 'pagination' %}
                    {% endif %}
                </div>

                <div id="grid-5-col2" class="tab-pane fade">
                    <div class="row">
                        
                        {% for product in collection.products %}
                            {% include 'single-product-listview' with product %}                                
                        {% endfor %}

                    </div>
                    {% if paginate.pages > 1 %}
                        {% include 'pagination' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endpaginate %}