{% layout 'password' %}

<div id="protected-element" class="container">
    <div class="row">
        <div class="col-sm-8"></div>
        <div class="col-sm-4 cell-padding">
            <a href="#" style="color:#ffffff" onclick="enterStore()">
                {{ 'password.enter_using_password' | t }}
            </a>
        </div>
    </div>
    <div class="row mt-50">

        <div class="col-sm-4"></div>
        <div class="col-sm-4 center-alignement cell-padding">
            <div>
                <h3>{{ shop.name }}</h3>
            </div>
            <br><br>
            <div>
                <h1>{{ 'password.opening_soon' | t }}</h1>
            </div>
            <br>
            <div>{{ 'password.be_first_to_know' | t }}</div>
            <br><br>
            <div>
                {% form 'customer' %}
                    {{ form.errors | default_errors }}
                    {% if form.posted_successfully? %}
                        <h6>{{ 'password.vistor_msg' | t }}</h6>
                    {% else %}
                        <input 
                            type="email" 
                            class="form-control" 
                            placeholder="{{ 'password.enter_email' | t }}"
                            name="contact[email]"
                            id="Email"
                            spellcheck="false"
                            autocomplete="off"
                            autocapitalize="off">
                        <br>
                        <input type="submit" name="commit" class="btn btn-dark">     
                    {% endif %}
                    
                {% endform %}
            </div>
            <br>
            <div>{{ 'password.speard_word' | t }}</div>
            <div>
                {% if settings.social_facebook_share != blank %}
                    <span>
                        <a href="{{ settings.social_facebook_share }}" style="color:#ffffff">Facebook</a>
                    </span>
                {% endif %}
                {% if settings.social_instagram_link != blank %}
                    <span>
                        <a href="{{ settings.social_instagram_link }}" style="color:#ffffff">Instagram</a>
                    </span>
                {% endif %}
            </div>
            <br><br>
            <div>
                {{ 'password.powered_by' | t }}
                <a href="//shopify.com" style="color: #ffffff">Shopify</a>
            </div>
        </div>
        <div class="col-sm-4"></div>

    </div>
</div>