<tr>
    <td class="product-remove">
        <a href="/cart/change?line={{ index }}&amp;quantity=0">
            <i class="ion-android-close"></i>
        </a>
    </td>
    <td class="product-thumbnail">
        <a href="{{ item.url | within: collections.all }}">
            {{ item | img_url: '80x80' | img_tag: item.title }}
        </a>
    </td>
    <td class="product-name">
        <a href="{{ item.url }}">{{ item.product.title }}</a> <br>
        {% unless item.product.has_only_default_variant %}
            <span><strong>{{ item.variant.title }}</strong></span>
        {% endunless %}
    </td>
    <td class="product-price">
        {% if item.original_line_price != item.line_price %}
            <span class="addon-price">{{ item.price | money }}</span>
            <span class="addon-price amount cart-discount-price"><del>{{ item.original_price | money }}</del></span>
        {% else %}
            <span class="addon-price">{{ item.price | money }}</span>    
        {% endif %}
    </td>
    <td class="product-quantity">
        <input type="number"
            name="updates[]"
            id="updates_{{ item.key }}"
            value="{{ item.quantity }}"
            min="0">
    </td>
    <td class="product-subtotal addon-price">{{ item.line_price | money }}</td>
</tr>