<div class="col-md-12 col-lg-12 col-xl-6">
    <div class="single-product single-product-list product-list-right-pr mb-40">
        <div class="product-img list-img-width">
            <a href="#">
                <img 
                    src="{{ product.featured_image | img_url: '320x364' }}" 
                    alt="{{ product.featured_image.alt }}">
            </a>
            <div class="product-action">
                <a 
                    title="Quick View" 
                    class="animate-right" 
                    href="{{ product.url | within: collection }}">
                    <i class="ion-ios-eye-outline"></i>
                </a>
            </div>
        </div>
        <div class="product-content-list">
            <div class="product-list-info">
                <h4><a href="{{ product.url | within: collection }}">{{ product.title }}</a></h4>
                <span>{{ product.price | money }}</span>
                <p>{{ product.content | truncatewords: 25 }}</p>
            </div>
            <div class="product-list-cart-wishlist">
                <div class="product-list-cart">
                    <a 
                        class="s-add-to-cart btn-hover list-btn-style" 
                        href="javascript:void(0)"
                        data-variant-id="{{ product.first_available_variant.id }}"
                    >
                        {{ 'products.product.add_to_cart' | t }}
                    </a>
                </div>
                <div class="product-list-wishlist">
                    <a class="btn-hover list-btn-wishlist" href="#"><i class="ion-ios-heart-outline addon-wishlist"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>