{%- comment -%}
    Create Single Layout for featured product

    - Accept
        - product
        
{%- endcomment -%}
<div class="{{ wrapper_class }}">
    <div class="single-product {{ single_class }} ">
        <div class="product-img">
            <a href="#"><img src="{{ product.featured_image | img_url: '270x300'  }}" alt=""></a>
            {% if product.compare_at_price_max > product.price %}
            {% assign sale_precent = product.compare_at_price_max | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_max | money_without_currency | times: 100 | remove: '.0' %}
                <span>save {{ sale_precent | append: '%' }}</span>    
            {% endif %}
            <div class="product-action">
                <a title="Wishlist" class="animate-left" href="#"><i class="ion-ios-heart-outline"></i></a>
                <a title="Quick View" class="animate-right" href="{{ product.url | within: collection }}">
                    <i class="ion-ios-eye-outline"></i>
                </a>
            </div>
        </div>
        <div class="product-content">
            <div class="product-title-price">
                <div class="product-title">
                    <h4><a href="{{ product.url | within: collection }}">{{ product.title }}</a></h4>
                </div>
                <div class="product-price">
                    <span>{{ product.price | money }}</span>
                </div>
            </div>
            <div class="product-cart-categori">
                <div class="product-cart">
                    <span>{{ product.tags | slice: 0, 3 | join: ', ' }}</span>
                </div>
                <div class="product-categori">
                    <a 
                        class="s-add-to-cart"
                        href="#" 
                        data-variant-id="{{ product.first_available_variant.id }}" >
                            <i class="ion-bag"></i> Add to cart
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>