{% form 'customer_address', customer.new_address %}
<div data-address-fields class="address-form">
    <div>
        <input placeholder="First Name" type="text" name="address[first_name]" id="AddressFirstNameNew" value="{{ form.first_name }}"
            autocapitalize="words">
    </div>
    <div>
        <input placeholder="Last Name" type="text" name="address[last_name]" id="AddressLastNameNew" value="{{ form.last_name }}"
            autocapitalize="words">
    </div>
    <div>
        <input placeholder="Company" type="text" name="address[company]" id="AddressCompanyNew" value="{{ form.company }}"
            autocapitalize="words">
    </div>
    <div>
        <input placeholder="Address1" type="text" name="address[address1]" id="AddressAddress1New" value="{{ form.address1 }}"
            autocapitalize="words">
    </div>
    <div>
        <input type="text" placeholder="Address2" name="address[address2]" id="AddressAddress2New" value="{{ form.address2 }}"
            autocapitalize="words">
    </div>
    <div>
        <input type="text" placeholder="City" name="address[city]" id="AddressCityNew" value="{{ form.city }}" autocapitalize="words">
    </div>
    <div>
        <select name="address[country]" id="AddressCountryNew" data-default="{{ form.country }}">
        </select>
    </div>
    <div>
        <select name="address[province]" id="AddressProvinceNew" data-default="{{ form.province }}">
        </select>
    </div>
    <div>
        <input type="text" placeholder="Postal/Zip Code" name="address[zip]" id="AddressZipNew" value="{{ form.zip }}" autocapitalize="characters">
    </div>
    <div>
        <input type="tel" placeholder="Phone" name="address[phone]" id="AddressPhoneNew" value="{{ form.phone }}" pattern="[0-9\-]*">
    </div>
</div>
<div class="button-box">
    <div class="login-toggle-btn">
        {{ form.set_as_default_checkbox }}
        <label>Set as default address</label>
    </div>
    <button type="submit" class="default-btn floatright">Submit</button>
    <button data-address-toggle class="default-btn floatright ml-3">Cancel</button>
</div>
{% endform %}