<div class="text-center mt-5">
    <h2>My Account</h2> 
    {{ 'customer.log_out' | t | customer_logout_link }}
    <div class="divider" style="border: 1px solid #eee; width:10%; margin:auto; margin-top:10px"></div>
</div>

<div class="container ptb-50">
    <div class="row">
        <div class="col-sm-8">
            <h3>ORDER {{ order.name }}</h3>
            <i>{{ order.created_at | date: "%B %d, %Y %I:%M%p" }}</i>
        </div>
        <div class="col-sm-4">
            <h3>BILLING ADDRESS</h3>
            </h>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">SKU</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for line_item in order.line_items %}
                        <tr id="{{ line_item.key }}">
                            <th scope="row">
                                {{ line_item.title | link_to: line_item.product.url }}
                                {% if line_item.fulfillment %}
                                    <div 
                                        class="login-form-container mt-3" 
                                        style="padding-top:20px;padding-bottom:20px">
                                        Fulfilled {{ line_item.fulfillment.created_at | date: '%B %d, %Y' }} <br>
                                        {% if line_item.fulfillment.tracking_url %}
                                            <a href="{{ line_item.fulfillment.tracking_url }}">
                                                Track shipment
                                            </a> <br>
                                            <strong>
                                                {{ line_item.fulfillment.tracking_company }} 
                                                {% if line_item.fulfillment.tracking_number %}
                                                    {{ line_item.fulfillment.tracking_number }}
                                                {% endif %}
                                            </strong>
                                        {% endif %}    
                                    </div>
                                {% endif %}
                            </th>
                            <td>{{ line_item.sku }}</td>
                            <td>{{ line_item.price | money }}</td>
                            <td>{{ line_item.quantity }}</td>
                            <td>{{ line_item.quantity | times: line_item.price | money }}</td>
                        </tr>
                    {% endfor %}
                    <tr class="table-dark">
                        <th scope="row" colspan="4">Subtotal</th>
                        <td>{{ order.line_items_subtotal_price | money }}</td>
                    </tr>
                    {% for discount in order.discounts %}
                        <tr class="table-success">
                            <th scope="row" colspan="4">{{ discount.code }} Discount</th>
                            <td>{{ discount.savings | money }}</td>
                        </tr>
                    {% endfor %}

                    {% for shipping_method in order.shipping_methods %}
                        <tr class="table-dark">
                            <th scope="row" colspan="4">Shipping {{ shipping_method.title }}</th>
                            <td>{{ shipping_method.price | money }}</td>
                        </tr>
                    {% endfor %}

                    {% for tax_line in order.tax_lines %}
                        <tr class="table-dark">
                            <th scope="row" colspan="4">
                                Tax ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)
                            </th>
                            <td>{{ tax_line.price | money }}</td>
                        </tr>
                    {% endfor %}

                    <tr>
                        <th scope="row" colspan="4">TOTAL</th>
                        <td>{{ order.total_price | money }} {{ order.currency }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-4">
            <div class="login-form-container">
                <strong>Payment Status: {{ order.financial_status_label }}</strong>
                <br><br>
                {{ order.billing_address | format_address }}
            </div>
            <h3 class="mt-5">SHIPPING ADDRESS</h3>
            <div class="login-form-container">
                <strong>Fulfillment Status: {{ order.fulfillment_status_label }}</strong>
                <br><br>
                {{ order.shipping_address | format_address }}
            </div>
        </div>
    </div>
</div>