<section 
    class="top-stories" 
    data-section-id="{{ section.id }}"
    data-section-type="top-stories" >

<footer class="footer-area gray-bg pt-100 pb-95">
    <div class="container">
        <div class="row">
            {% if section.settings.social_icon == tue %}
                <div class="col-lg-3 col-md-5 col-12">
                    <div class="footer-widget">
                        <div class="footer-widget-l-content">
                            <h4>Follow us on:</h4>
                            <ul>
                                {% if settings.social_twitter_link != blank %}
                                   <li>
                                       <a href="{{ settings.social_twitter_link }}">
                                           <i class="ion-social-twitter"></i>
                                       </a>
                                   </li>
                                {% endif %}
                                {% if settings.social_tumblr_link != blank %}
                                   <li>
                                       <a href="{{ settings.social_tumblr_link }}">
                                           <i class="ion-social-tumblr"></i>
                                       </a>
                                   </li>
                                {% endif %}
                                {% if settings.social_facebook_link != blank %}
                                   <li>
                                       <a href="{{ settings.social_facebook_link }}">
                                           <i class="ion-social-facebook"></i>
                                       </a>
                                   </li>
                                {% endif %}
                                {% if settings.social_instagram_link != blank %}
                                   <li>
                                       <a href="{{ settings.social_instagram_link }}">
                                           <i class="ion-social-instagram-outline"></i>
                                       </a>
                                   </li>
                                {% endif %} 
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="col-lg-6 col-md-7 col-12">
                <div class="footer-widget">
                    <div class="footer-widget-m-content text-center">
                        <div class="footer-logo">
                            <a href="#">
                                <img 
                                    src="{{ section.settings.logo | img_url: '116x31' }}" 
                                    alt="{{ section.settings.logo.alt | default: shop.name }}">
                            </a>
                        </div>
                        <div class="footer-nav">
                            {% assign footer_linklist = section.settings.footer_linklist %}
                            {% if linklists[footer_linklist].links.size > 0 %}
                                <nav>
                                    <ul>
                                        {% for link in linklist[footer_linklist].links %}
                                            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </nav>
                            {% endif %}
                        </div>
                        <p>{{ section.settings.copyright }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-12">
                <div class="footer-widget f-right">
                    <div class="footer-widget-r-content">
                        <ul>
                            <li><span>Phone :</span> {{ section.settings.phone }}</li>
                            <li><span>Email : </span> {{ section.settings.email }}</a></li>
                            <li><span>Address :</span> {{ section.settings.address }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--Left Menu bar-->
<div class="clickable-mainmenu-btn">
    <a class="clickable-mainmenu-active" href="#"><i class="ion-navicon"></i></a>
</div>
<div class="clickable-mainmenu text-center">
    <div class="clickable-mainmenu-icon">
        <button class="clickable-mainmenu-close">
            <span class="ion-android-close"></span>
        </button>
    </div>
    <div id="menu" class="text-left">
        <ul>
            <li><a href="#">home</a></li>
            <li><a href="about-us.html">about us</a></li>
            <li><a href="shop-grid-view-5-col.html">shop</a></li>
            <li><a href="#">pages</a>
                <ul class="dropdown">
                    <li><a href="about-us.html">about us</a></li>
                    <li><a href="cart.html">cart</a></li>
                    <li><a href="checkout.html">checkout</a></li>
                    <li><a href="wishlist.html">wishlist</a></li>
                    <li><a href="contact.html">contact</a></li>
                    <li><a href="login.html">login</a></li>
                    <li><a href="register.html">register</a></li>
                </ul>
            </li>
            <li><a href="#">blog</a>
                <ul class="dropdown">
                    <li><a href="blog.html">blog </a></li>
                    <li><a href="blog-details.html">blog details</a></li>
                </ul>
            </li>
            <li><a href="contact.html">contact</a></li>
        </ul>
    </div>
</div>
</section>

<!-- all js here -->
<script src="{{ "jquery-1.12.0.min.js" | asset_url }}"></script>
<script src="{{ "popper.js" | asset_url }}"></script>
<script src="{{ "bootstrap.min.js" | asset_url }}"></script>
<script src="{{ "jquery.magnific-popup.min.js" | asset_url }}"></script>
<script src="{{ "isotope.pkgd.min.js" | asset_url }}"></script>
<script src="{{ "imagesloaded.pkgd.min.js" | asset_url }}"></script>
<script src="{{ "jquery.counterup.min.js" | asset_url }}"></script>
<script src="{{ "waypoints.min.js" | asset_url }}"></script>
<script src="{{ "slinky.min.js" | asset_url }}"></script>
<script src="{{ "ajax-mail.js" | asset_url }}"></script>
<script src="{{ "owl.carousel.min.js" | asset_url }}"></script>
<script src="{{ "plugins.js" | asset_url }}"></script>
<script src="{{ "main.js" | asset_url }}"></script>


{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
          "type": "link_list",
          "id": "footer_linklist",
          "label": "Footer Menu",
          "default": "footer"
      },
      {
          "type": "image_picker",
          "id": "logo",
          "label": "Footer logo"
      },
      {
          "type": "checkbox",
          "id": "social_icons",
          "label": "Show social icons",
          "default": true,
      },
      {
          "type": "text",
          "id": "copyright",
          "label": "Copy right text"
      },
      {
          "type": "header",
          "content": "Contact Info"
      },
      {
          "type": "text",
          "id": "phone",
          "label": "Phone number"
      },
      {
          "type": "text",
          "id": "email",
          "label": "Email address"
      },
      {
          "type": "text",
          "id": "address",
          "label": "Shop address"
      }
    ]
  }

{% endschema %}