<section data-section-id="{{ section.id }}" data-section-type="product">
<!-- Breadcrumb -->    
    <div class="breadcrumb-area bg-img border-top-1 pt-55">
        <div class="container">
            <div class="breadcrumb-content-2">
                <ul>
                    <li><a class="active" href="{{ shop.url }}">home</a></li>
                    {% if collection.url %}
                        <li>{{ collection.title | link_to: collection.url }}</li>    
                    {% endif %}
                    <li>{{ product.title | truncatewords: 7 }}</li>
                </ul>
            </div>
        </div>
    </div>

<!-- Product Images with varient and options -->
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

    <div class="product-details ptb-100 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-7 col-12">
                    <div class="product-details-img-content">
                        <div class="product-details-tab mr-70">
                            <div class="product-details-large tab-content">
                                {% assign isFirstImage = true %}
                                {% if product.images.size > 1 %}
                                    {% for image in product.images %}
                                        {%- capture active_show -%}
                                            {%- if isFirstImage == true -%}
                                                active show
                                                {%- assign isFirstImage = false -%}
                                            {%- endif -%}
                                        {%- endcapture -%}
                                        <div
                                            data-thumbnail-id="{{ image.id }}" 
                                            class="tab-pane fade {{ active_show }}" 
                                            id="pro-details{{ forloop.index }}" 
                                            role="tabpanel">
                                            <div class="easyzoom easyzoom--overlay">
                                                <a href="{{ image | img_url: '1200x1125' }}">
                                                    <img 
                                                        src="{{ image | img_url: '600x656' }}" 
                                                        alt="{{ image.alt }}">
                                                </a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div 
                                        class="tab-pane fade active show" 
                                        id="pro-details1" 
                                        role="tabpanel">
                                        <div class="easyzoom easyzoom--overlay">
                                            <a href="{{ featured_image | img_url: '1200x1125' }}">
                                                <img 
                                                    src="{{ featured_image | img_url: '600x656' }}" 
                                                    alt="{{ featured_image.alt }}">
                                            </a>
                                        </div>
                                    </div>    
                                {% endif %}
                            </div>

                            <div class="product-details-small nav mt-12 main-product-details" role=tablist>
                                {% assign isFirstImage = true %}
                                {% if product.images.size > 1 %}
                                    {% for image in product.images %}
                                        {% if image.attached_to_variant? == false or section.settings.variant_images %}
                                            {%- capture active -%}
                                                {%- if isFirstImage == true -%}
                                                    active
                                                    {%- assign isFirstImage = false -%}
                                                {%- endif -%}
                                            {%- endcapture -%}
                                            <a 
                                                class="mr-12 {{ active | escape }}" 
                                                href="#pro-details{{ forloop.index }}" 
                                                data-toggle="tab" 
                                                role="tab" 
                                                aria-selected="true">
                                                <img 
                                                    src="{{ image | img_url: '141x135' }}" 
                                                    alt="{{ image.alt }}">
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <a 
                                        class="mr-12 active" 
                                        href="#pro-details1" 
                                        data-toggle="tab" 
                                        role="tab" 
                                        aria-selected="true">
                                        <img 
                                            src="{{ featured_image | img_url: '141x135' }}" 
                                            alt="{{ featured_image.alt }}">
                                    </a>        
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-5 col-12">
                    <div class="product-details-content">
                        <h3>{{ product.title }}</h3>
                        <div class="rating-number">
                            <div class="quick-view-rating">
                                <i class="ion-ios-star red-star"></i>
                                <i class="ion-ios-star red-star"></i>
                                <i class="ion-android-star-outline"></i>
                                <i class="ion-android-star-outline"></i>
                                <i class="ion-android-star-outline"></i>
                            </div>
                            <div class="quick-view-number">
                                <span>2 Ratting (S)</span>
                            </div>
                        </div>
                        <div class="details-price">
                            <span data-product-price>{{ current_variant.price | money }}</span>
                            {% if product.compare_at_price_max > product.price %}
                                <span class="product-regular-price">
                                <del data-product-regular-price>
                                    {% if product.compare_at_price > product.price %}
                                        {{ product.compare_at_price | money }}
                                    {% endif %}
                                </del>
                                </span>  
                            {% endif %}
                        </div>
                        <p>{{ product.content | truncatewords: 37 }}</p>

                        {% form 'product', product, 
                            data-product-form: '', 
                            data-product-handle: product.handle, 
                            data-enable-history-state: 'true' 
                        %}
                        {% unless product.has_only_default_variant %}

                            <div class="quick-view-select">
                                {% for option in product.options_with_values %}
                                        <div class="select-option-part">
                                            <label for="Option{{ option.position }}">{{ option.name }}</label>
                                            <select 
                                                id="Option{{ option.position }}"
                                                name="options[{{ option.name | escape }}]" 
                                                class="select">
                                                <option disabled selected value>- Please Select -</option>
                                                {% for value in option.values %}
                                                    <option value="{{ value | escape }}">
                                                        {{ value }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                {% endfor %}
                            </div>
                            
                        {% endunless %}
                        <div class="quickview-plus-minus">
                            <div class="cart-plus-minus">
                                <input 
                                    type="text"  
                                    id="Quantity" 
                                    name="quantity" 
                                    value="1" min="1" 
                                    class="cart-plus-minus-box">
                            </div>
                            <div class="quickview-btn-cart">
                                <a 
                                    data-add-to-cart 
                                    href="javascript:void(0)">select variant</a>
                            </div>
                            <div class="quickview-btn-wishlist">
                                <a class="btn-hover" href="#"><i class="ion-ios-heart-outline"></i></a>
                            </div>
                        </div>
                        {% endform %}

                        <div class="product-categories product-cat-tag">
                            <ul>
                                <li class="categories-title">Tags :</li>
                                {% for tag in product.tags %}
                                    <li>{{ tag }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% if section.settings.show_share_buttons == true %}
                            <div class="product-share">
                                <ul>
                                    <li class="categories-title">Share :</li>
                                    <li>
                                        <a href="#">
                                            <i class="ion-social-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ion-social-tumblr"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ion-social-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ion-social-instagram-outline"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>    
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>    

<!-- Product description and Reviews -->
    <div class="product-description-review-area pb-100">
        <div class="container">
            <div class="product-description-review text-center">
                <div class="description-review-title nav" role=tablist>
                    <a class="active" href="#pro-dec" data-toggle="tab" role="tab" aria-selected="true">
                        Description
                    </a>
                    <a href="#pro-review" data-toggle="tab" role="tab" aria-selected="false">
                        Reviews (0)
                    </a>
                </div>
                <div class="description-review-text tab-content">
                    <div class="tab-pane active show fade" id="pro-dec" role="tabpanel">
                        <p>{{ product.content }}</p>
                    </div>
                    <div class="tab-pane fade" id="pro-review" role="tabpanel">
                        <a href="#">Be the first to write your review!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>    

    <!-- Show Related Products (by collection) -->
    related products <br>
    {% if section.settings.related_products %}
        {% include 'related-products' %}
    {% endif %}

</section>


{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "variant_images",
        "label": "Show variant images along with product images",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
      {
          "type": "checkbox",
          "id": "related_products",
          "label": "Show related products",
          "default": true
      }
    ]
  }
{% endschema %}