<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_accent }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  <title>{{ shop.name }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <link rel="stylesheet" href="https://d29u17ylf1ylz9.cloudfront.net/neha/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://d29u17ylf1ylz9.cloudfront.net/neha/assets/css/responsive.css">
<style>
    .wrapper_page {
        min-height: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        color: #ffffff;
        background-image: url('//cdn.shopify.com/s/files/1/0253/4568/7612/t/4/assets/password-page-background.jpg?9697');
    }

    .center-alignement {
        text-align: center;
    }

    .cell-padding {
        padding: 20px;
    }

    .mt-50 {
        margin-top: 50px;
    }

    .h-center {
        position: fixed;
        top: 30%;
    }
</style>

  {{ content_for_header }}
</head>

<body id="main-body" class="wrapper_page">

        {{ content_for_layout }}
  
    <div id="enter-store" style="display: none">
        <div class="row">
            <div class="col-sm-8"></div>
            <div class="col-sm-4 cell-padding">
                <a href="#" onclick="showProtectElement()">{{ 'layout.password_close_button' | t }}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 cell-padding">
                <h6>{{ 'layout.enter_store_using_pass' | t }}</h6>
                {% form 'storefront_password' %}
                    {{ form.errors | default_errors }}
                    <input 
                        type="password" 
                        name="password"
                        class="form-control" 
                        placeholder="Enter your password" >
                    <br>
                    <input type="submit" name="commit" class="btn btn-dark" value="Enter" >
                {% endform %}
                <br>
                {{ 'are_you_owner' | t }} 
                <a href="/admin">{{ 'layout.login_here' | t }}</a>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>  
  
<script>
    function enterStore() {
        var bodyElement = document.getElementById('main-body');
        var enterStoreElement = document.getElementById('enter-store');
        var protectElement = document.getElementById('protected-element');

        bodyElement.classList.remove('wrapper_page');
        enterStoreElement.style.display = 'block';
        protectElement.style.display = 'none';
    }

    function showProtectElement() {
        var bodyElement = document.getElementById('main-body');
        var enterStoreElement = document.getElementById('enter-store');
        var protectElement = document.getElementById('protected-element');

        bodyElement.classList.add('wrapper_page');
        enterStoreElement.style.display = 'none';
        protectElement.style.display = 'block';
    }
</script>
        
</body>
</html>

<script type="application/ld+json">
  {
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>
