<!doctype html>
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">
    <head>
<!--META-->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="theme-color" content="{{ settings.color_accent }}">
        <link rel="canonical" href="{{ canonical_url }}">
        <!--End META-->

<!--FAVICON-->        
        {%- if settings.favicon != blank -%}
            <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
        {%- endif -%}

<!-- TITLE -->
        {%- capture seo_title -%}
            {{ page_title }}
            {%- if current_tags -%}
            {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
            {%- endif -%}
            {%- if current_page != 1 -%}
            &ndash; {{ 'general.meta.page' | t: page: current_page }}
            {%- endif -%}
            {%- assign escaped_page_title = page_title | escape -%}
            {%- unless escaped_page_title contains shop.name -%}
            &ndash; {{ shop.name }}
            {%- endunless -%}
        {%- endcapture -%}
        <title>{{ seo_title | strip }}</title>
        <!--End TITLE-->

<!--DESCRIPTION-->
        {%- if page_description -%}
            <meta name="description" content="{{ page_description | escape }}">
        {%- endif -%}
        <!--End DESCRIPTION-->

<!--SOCIAL MEDIA SEO-->
        {% include 'social-meta-tags' %}     

<!--STYLE TAGS-->
        {% include 'style-tags', layout: 'theme' %}     
        {% include 'css-variables' %}   

<!--SCRIPT TAGS-->
        <script>
            document.documentElement.className = document.documentElement.className.replace('no-js', '');
        
            window.theme = {
            strings: {
                addToCart: {{ 'products.product.add_to_cart' | t | json }},
                soldOut: {{ 'products.product.sold_out' | t | json }},
                unavailable: {{ 'products.product.unavailable' | t | json }}
            },
            moneyFormat: {{ shop.money_format | json }}
            };
        </script>
        {% include 'script-tags', layout: 'theme' %}        
        <!--End SCRIPT TAGS-->
 
<!-- CONTENT FOR HEADER-->
        {{ content_for_header }}

<!-- TEMP: all css here -->
        <link rel="stylesheet" href="https://d29u17ylf1ylz9.cloudfront.net/neha/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://d29u17ylf1ylz9.cloudfront.net/neha/assets/css/magnific-popup.css">
        <link rel="stylesheet" href="https://d29u17ylf1ylz9.cloudfront.net/neha/assets/css/animate.css">
        <link rel="stylesheet" href="https://d29u17ylf1ylz9.cloudfront.net/neha/assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="https://d29u17ylf1ylz9.cloudfront.net/neha/assets/css/slinky.min.css">
        <link rel="stylesheet" href="https://d29u17ylf1ylz9.cloudfront.net/neha/assets/css/slick.css">
        <link rel="stylesheet" href="https://d29u17ylf1ylz9.cloudfront.net/neha/assets/css/ionicons.min.css">
        <link rel="stylesheet" href="https://d29u17ylf1ylz9.cloudfront.net/neha/assets/css/bundle.css">
        <link rel="stylesheet" href="https://d29u17ylf1ylz9.cloudfront.net/neha/assets/css/style.css">
        <link rel="stylesheet" href="https://d29u17ylf1ylz9.cloudfront.net/neha/assets/css/responsive.css">

</head>

<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">
    <div class="wrapper">
        {% section 'header' %}
    </div>
  
  <main role="main" id="MainContent">
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}

</body>
</html>    