<!doctype html>
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">
    <head>
<!--META-->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="theme-color" content="{{ settings.color_accent }}">
        <link rel="canonical" href="{{ canonical_url }}">
        <!--End META-->

<!--FAVICON-->        
        {%- if settings.favicon != blank -%}
            <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
        {%- endif -%}

<!-- TITLE -->
        {%- capture seo_title -%}
            {{ page_title }}
            {%- if current_tags -%}
            {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
            {%- endif -%}
            {%- if current_page != 1 -%}
            &ndash; {{ 'general.meta.page' | t: page: current_page }}
            {%- endif -%}
            {%- assign escaped_page_title = page_title | escape -%}
            {%- unless escaped_page_title contains shop.name -%}
            &ndash; {{ shop.name }}
            {%- endunless -%}
        {%- endcapture -%}
        <title>{{ seo_title | strip }}</title>
        <!--End TITLE-->

<!--DESCRIPTION-->
        {%- if page_description -%}
            <meta name="description" content="{{ page_description | escape }}">
        {%- endif -%}
        <!--End DESCRIPTION-->

<!--SOCIAL MEDIA SEO-->
        {% include 'social-meta-tags' %}     

<!--STYLE TAGS-->
        {% include 'style-tags', layout: 'theme' %}     
        {% include 'css-variables' %}   

<!--SCRIPT TAGS-->
        <script>
            document.documentElement.className = document.documentElement.className.replace('no-js', '');
        
            window.theme = {
            strings: {
                addToCart: {{ 'products.product.add_to_cart' | t | json }},
                soldOut: {{ 'products.product.sold_out' | t | json }},
                unavailable: {{ 'products.product.unavailable' | t | json }}
            },
            moneyFormat: {{ shop.money_format | json }}
            };
        </script>
        {% include 'script-tags', layout: 'theme' %}        
        <!--End SCRIPT TAGS-->
 
<!-- CONTENT FOR HEADER-->
        {{ content_for_header }}

<!-- Custom Font -->
<style>
@font-face{
        font-family:"Ionicons";
        src:url("{{ 'ionicons.eot?v=2.0.0' | asset_url }}");
        src:url("{{ 'ionicons.eot?v=2.0.0#iefix' | asset_url }}") format("embedded-opentype"),
                url("{{ 'ionicons.ttf?v=2.0.0' | asset_url }}") format("truetype"),
                url("{{ 'ionicons.woff?v=2.0.0' | asset_url }}") format("woff"),
                url("{{ 'ionicons.svg?v=2.0.0#Ionicons' | asset_url }}") format("svg");
        font-weight:normal;
        font-style:normal
}
</style>

<!-- All css here -->
        <link rel="stylesheet" href="{{ "bootstrap.min.css" | asset_url }}">
        <link rel="stylesheet" href="{{ "magnific-popup.css" | asset_url }}">
        <link rel="stylesheet" href="{{ "animate.css" | asset_url }}">
        <link rel="stylesheet" href="{{ "owl.carousel.min.css" | asset_url }}">
        <link rel="stylesheet" href="{{ "slinky.min.css" | asset_url }}">
        <link rel="stylesheet" href="{{ "slick.css" | asset_url }}">
        <link rel="stylesheet" href="{{ "ionicons.min.css" | asset_url }}">
        <link rel="stylesheet" href="{{ "bundle.css" | asset_url }}">
        <link rel="stylesheet" href="{{ "style.css" | asset_url }}">
        <link rel="stylesheet" href="{{ "responsive.css" | asset_url }}">
        {% if template.name == 'product' %}
                <link rel="stylesheet" href="{{ "easyzoom.css" | asset_url }}">        
        {% endif %}
        <link rel="stylesheet" href="{{ "foxy-style.css" | asset_url }}">


<!-- ADDON scripts-->        
    <!-- <script src="https://cdn.shopify.com/s/javascripts/currencies.js"></script>     
    <script src="{{ "addon-currency.js" | asset_url }}"></script> -->
    
</head>

<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">
    <div class="wrapper">
        {% section 'header' %}
    </div>
  
  <main role="main" id="MainContent">
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}

</body>
</html>    